<h1>Using Jupyter Notebook</h1>

## Working with styles

<h1 style="color:purple;">Ejercicios 1-5</h1>

In [62]:
the_world_is_flat = True

if the_world_is_flat:
    print ("Be careful not to fall off!")

Be careful not to fall off!

In [63]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

print(spam)
print(text)

1
# This is not a comment because it's inside quotes.

<h2 style="color:gray;">NÃºmeros</h2>

In [64]:
2 + 2

4

In [65]:
50 - 5*6

20

In [66]:
(50 - 5*6) / 4

5.0

In [67]:
8 / 5  # division always returns a floating point number

1.6

In [68]:
17 / 3  # classic division returns a float

5.666666666666667

In [69]:
17 // 3  # floor division discards the fractional part

5

In [70]:
17 % 3  # the % operator returns the remainder of the division

2

In [71]:
5 * 3 + 2  # result * divisor + remainder

17

In [72]:
5 ** 2  # 5 squared

25

In [73]:
2 ** 7  # 2 to the power of 7

128

In [74]:
width = 20
height = 5 * 9
width * height

900

In [75]:
4 * 3.75 - 1

14.0

In [76]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

14.0

<h2 style="color:gray;">Strings</h2>

In [78]:
'spam eggs'  # single quotes

'spam eggs'

In [80]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [81]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [82]:
'"Yes," they said.'

'"Yes," they said.'

In [83]:
"\"Yes,\" they said."

'"Yes," they said.'

In [84]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [85]:
'"Isn\'t," they said.'

print('"Isn\'t," they said.')

"Isn't," they said.

In [86]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

First line.
Second line.

In [87]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [88]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [89]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [90]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [91]:
'Py' 'thon'

'Python'

In [92]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [98]:
prefix = 'Py'

In [ ]:
prefix 'thon' 
# can't concatenate a variable and a string literal

 File "<ipython-input-94-20527b549823>", line 2
    prefix 'thon'  # can't concatenate a variable and a string literal
                ^
SyntaxError: invalid syntax

In [100]:
prefix + 'thon'

'Python'

In [102]:
word = 'Python'
word[0]  # character in position 0

'P'

In [103]:
word[5]  # character in position 5

'n'

In [104]:
word[-1]  # last character

'n'

In [105]:
word[-2]  # second-last character

'o'

In [106]:
word[-6]

'P'

In [107]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [108]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [109]:
word[:2] + word[2:]

'Python'

In [110]:
word[:4] + word[4:]

'Python'

In [111]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [112]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [113]:
word[-2:]  # characters from the second-last (included) to the end

'on'

word[42]  # the word only has 6 characters

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-114-469c6d99b5b2> in <module>
----> 1 word[42]  # the word only has 6 characters

IndexError: string index out of range

In [115]:
word[4:42]

'on'

In [116]:
word[42:]

''

word[0] = 'J'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-117-91a956888ca7> in <module>
----> 1 word[0] = 'J'

TypeError: 'str' object does not support item assignment

word[2:] = 'py'

In [120]:
'J' + word[1:]

'Jython'

In [121]:
word[:2] + 'py'

'Pypy'

In [122]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

<h2 style="color:gray;">Listas</h2>

In [125]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [126]:
squares[0]  # indexing returns the item

1

In [127]:
squares[-1]

25

In [128]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [129]:
squares[:]

[1, 4, 9, 16, 25]

In [130]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [133]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [134]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [135]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [136]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [137]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [138]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [139]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [141]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [142]:
x[0]

['a', 'b', 'c']

In [143]:
x[0][1]

'b'

In [144]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [145]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [146]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

<h2 style="color:gray;">IF</h2>

In [147]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 78
More

<h2 style="color:gray;">For</h2>

In [148]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

<h2 style="color:gray;">range() Function</h2>

In [153]:
for i in range(5):
    print(i)

0
1
2
3
4

In [154]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [156]:
print(range(10))

range(0, 10)

In [157]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [158]:
list(range(4))

[0, 1, 2, 3]

<h2 style="color:gray;">break and continue Statements, and else Clauses on Loops</h2>

In [159]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [160]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

<h2 style="color:gray;">pass Statements</h2>

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!

<h2 style="color:gray;">Defining Functions</h2>

In [165]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [166]:
fib

In [168]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [169]:
fib(0)
print(fib(0))

None

In [170]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

<h2 style="color:gray;">Default Argument Values</h2>

In [171]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [173]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [174]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [175]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [176]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [177]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

parrot()                     # required argument missing
parrot(voltage=5.0,'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

def function(a):
    pass

function(0, a=0)

In [181]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [182]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [184]:
def standard_arg(arg):
    print(arg)

In [185]:
def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-185-f5f8a93d959a>, line 1)

In [186]:
standard_arg(2)

2

In [187]:
standard_arg(arg=2)

2

pos_only_arg(1)

pos_only_arg(arg=1)

kwd_only_arg(3)

kwd_only_arg(arg=3)

combined_example(1, 2, 3)

combined_example(1, 2, kwd_only=3)

combined_example(1, standard=2, kwd_only=3)

combined_example(pos_only=1, standard=2, kwd_only=3)

def foo(name, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

In [202]:
list(range(3, 6))            # normal call with separate arguments

args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [203]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [204]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

f(1)

43

In [205]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [206]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [207]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [211]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

print(fruits.count('tangerine'))

print(fruits.index('banana'))

print(fruits.index('banana', 4)) # Find next banana starting a position 4

fruits.reverse()
print(fruits)

fruits.append('grape')
print(fruits)

fruits.sort()
print(fruits)

print(fruits.pop())

0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
pear

In [212]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop())

print(stack)

print(stack.pop())

print(stack.pop())

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

<h2 style="color:gray;">Using Lists as Queues</h2>

In [214]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
print(queue.append("Terry"))           # Terry arrives
print(queue.append("Graham"))          # Graham arrives
print(queue.popleft())                 # The first to arrive now leaves

print(queue.popleft())                 # The second to arrive now leaves

print(queue)                           # Remaining queue in order of arrival

None
None
Eric
John
deque(['Michael', 'Terry', 'Graham'])

<h2 style="color:gray;">List Comprehensions</h2>

In [215]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [216]:
squares = list(map(lambda x: x**2, range(10)))

In [217]:
squares = [x**2 for x in range(10)]

In [218]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [219]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [221]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [222]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [223]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [224]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [225]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [226]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-226-702d12ece8a4>, line 2)

In [227]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [228]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

<h2 style="color:gray;">Nested List Comprehensions</h2>

In [229]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [230]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [231]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [232]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [233]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

<h2 style="color:gray;">del statement</h2>

In [235]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

[1, 66.25, 333, 333, 1234.5]
[1, 66.25, 1234.5]
[]

<h2 style="color:gray;">Tuples and Sequences</h2>

In [238]:
t = 12345, 54321, 'hello!'
print(t[0])

print(t)

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
print(u)

# Tuples are immutable:
t[0] = 88888


# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
print(v)

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

TypeError: 'tuple' object does not support item assignment

In [239]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(len(empty))

print(len(singleton))

print(singleton)

0
1
('hello',)

<h2 style="color:gray;">Sets</h2>

In [242]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a

print(a - b)                              # letters in a but not in b

print(a | b)                              # letters in a or b or both

print(a & b)                              # letters in both a and b

print(a ^ b)                              # letters in a or b but not both

{'apple', 'banana', 'orange', 'pear'}
{'d', 'r', 'a', 'c', 'b'}
{'d', 'r', 'b'}
{'l', 'd', 'r', 'a', 'c', 'b', 'z', 'm'}
{'a', 'c'}
{'d', 'b', 'z', 'r', 'm', 'l'}

In [243]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

<h2 style="color:gray;">Dictionaries</h2>

In [248]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)

print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

print(list(tel))

print(sorted(tel))

print('guido' in tel)

print('jack' not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False

In [249]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [250]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [251]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

<h2 style="color:gray;">Looping Techniques</h2>

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

In [253]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [254]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [255]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [256]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

<h2 style="color:gray;">More on Conditions</h2>

In [257]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'